    </div>
    <footer class="footer">
      <div class="footer-item">
        <a class="footer-link" href="http://thenew.fr">thenew.fr</a>
      </div>
      <div class="footer-item">
        <a class="footer-link" href="https://archive.area17.com" target="_blank" rel="noopener noreferrer">Inspired by AREA 17</a>
      </div>
    </footer>
    <script src="./public/js/client.min.js"></script>
  </body>
</html>
