<html lang="en-US">
  <title>thenew archives <%= title %></title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="archives of web projects by thenew" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@remybarthez" />
  <meta name="twitter:creator" content="@remybarthez" />
  <meta name="twitter:title" content="thenew" />
  <meta name="twitter:description" content="thenew web developer" />
  <meta property="og:title" content="thenew archives" />
  <meta property="og:description" content="thenew web developer" />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="thenew archives" />
  <meta property="og:image" content="<%= typeof image != 'undefined' ? image : 'http://' + domain + '/public/app-icons/thenew_archives.png' %>">
  <meta property="og:url" content="http://<%= domain %>">
  <link rel="icon" sizes="256x256" href="./public/app-icons/icon-256.png" />
  <link rel="logo" type="image/png" href="./public/app-icons/icon-256.png" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content=" black-translucent" />
  <meta name="msapplication-TileColor" content="#848D95" />
  <meta name="theme-color" content="#848D95" />
  <link href="./public/css/main.css" rel="stylesheet" />
  <link rel="preload" href="./public/fonts/silka-regular-webfont.woff2" as="font">
  <body>
    <div class="page <% if (typeof data.pageClass !== 'undefined') { %><%= data.pageClass %><% } %>">
      <a class="header" href="/">
        <div class="back-icon"></div>
        <div class="header-heading">
          <div class="header-title">
            <div class="wordmark">
              <svg viewBox="0 0 617 148" version="1.1">
                <path
                  d="M42.3410389,61.0725585 L61.8530385,61.0725585 L61.8530385,83.9015979 L42.3410389,83.9015979 L42.3410389,145.169276 L17.5607996,145.169276 L17.5607996,83.9015979 L0,83.9015979 L0,61.0725585 L17.5607996,61.0725585 L17.5607996,29.8533593 L42.3410389,29.8533593 L42.3410389,61.0725585 Z M103.023357,0 L103.023357,66.3407983 C110.242797,61.4627985 118.828077,58.5359985 128.193837,58.5359985 C152.778956,58.5359985 172.681196,78.633358 172.681196,103.218477 L172.681196,145.169276 L146.925356,145.169276 L146.925356,103.218477 C146.925356,97.1697576 144.583916,91.5112777 140.486396,87.0235178 C136.388877,82.7308779 130.925517,80.389438 125.071917,80.389438 C119.218317,80.389438 113.559837,82.7308779 109.462317,87.0235178 C105.364797,91.5112777 103.023357,97.1697576 103.023357,103.218477 L103.023357,145.169276 L77.0723981,145.169276 L77.0723981,0 L103.023357,0 Z M229.070874,147.510716 C204.485755,147.510716 184.388395,127.413357 184.388395,102.828237 C184.388395,78.047998 204.485755,58.1457585 229.070874,58.1457585 C253.655994,58.1457585 273.753353,78.047998 273.753353,102.828237 C273.753353,105.559917 273.558233,108.096477 272.972873,110.828157 L210.144235,110.828157 C211.314955,113.950077 212.875915,116.681757 215.022235,119.023197 C218.88261,123.251227 223.784899,125.574185 229.070874,125.828907 L229.070874,147.510716 Z M209.753995,95.9990376 L250.143834,95.9990376 C249.168234,92.4868777 247.412154,89.1698378 244.875594,86.4381578 C240.973194,82.1455179 235.509834,79.804078 230.046474,79.804078 C224.387994,79.804078 219.119755,82.1455179 215.022235,86.4381578 C212.680795,89.1698378 210.924715,92.4868777 209.753995,95.9990376 Z M329.877599,59 C352.809406,59 373.974718,78.9022395 373.974718,103.682479 L373.974718,145.438158 L350.170078,145.438158 L350.170078,103.682479 C350.170078,91.5850392 341.584799,80.8534395 329.877599,80.8534395 C318.170399,80.8534395 309.585119,91.5850392 309.585119,103.682479 L309.585119,145.438158 L285,145.438158 L285,103.682479 C285,79.1692764 306.945792,59 329.877599,59 Z M448.190629,119.608557 L466.531908,131.901117 C458.531989,141.461996 446.239429,147.510716 432.776149,147.510716 C408.19103,147.510716 388.09367,127.413357 388.09367,102.828237 C388.09367,78.047998 408.19103,58.1457585 432.776149,58.1457585 C457.361269,58.1457585 477.458628,78.047998 477.458628,102.828237 C477.458628,105.559917 477.263508,108.096477 476.678148,110.828157 L413.84951,110.828157 C415.02023,113.950077 416.58119,116.681757 418.72751,119.023197 C422.825029,123.510957 428.093269,125.852397 433.751749,125.852397 C439.019989,125.852397 444.288229,123.510957 448.190629,119.608557 Z M413.45927,95.9990376 L453.849109,95.9990376 C452.873509,92.4868777 451.117429,89.1698378 448.580869,86.4381578 C444.678469,82.1455179 439.215109,79.804078 433.751749,79.804078 C428.093269,79.804078 422.825029,82.1455179 418.72751,86.4381578 C416.38607,89.1698378 414.62999,92.4868777 413.45927,95.9990376 Z M592.798865,61.0725585 L616.993744,61.0725585 L573.286865,145.169276 L569.969826,145.169276 L550.067586,107.315997 L530.360467,145.169276 L527.238547,145.169276 L483.141428,61.0725585 L507.336307,61.0725585 L528.799507,101.852637 L537.970146,84.2918379 L525.872707,61.0725585 L550.067586,61.0725585 L571.530786,101.852637 L592.798865,61.0725585 Z"
                  id="thenew-copy-2"
                  fill="#08171A"
                ></path>
              </svg>
            </div>
            <span>archives</span> <% if (title) { %>/ <% } %>
          </div>
          <h1>
            <span class="sr-only">thenew archives</span>
            <span class="page-title"><%= title %></span>
          </h1>
        </div>
        <% if (data.projectsLength) { %>
          <div class="counter"><span class="counter-hash">#</span><%= data.projectsLength %> <small class="counter-label">projects</small></div>
        <% } %>
      </a>
