<div>
  <a href="http://lab.thenew.fr/2017" target="_blank" rel="noopener noreferrer">
    lab.thenew.fr/2017
  </a>
</div>
<div>
  <a href="http://lab.thenew.fr/2017/01/" target="_blank" rel="noopener noreferrer">
    lab.thenew.fr/2017/01
  </a>
</div>
<div>
  <a href="http://lab.thenew.fr/2017/02/" target="_blank" rel="noopener noreferrer">
    lab.thenew.fr/2017/02
  </a>
</div>
<div>
  <a href="http://lab.thenew.fr/2017/03/" target="_blank" rel="noopener noreferrer">
    lab.thenew.fr/2017/03
  </a>
</div>
<div>
  <a href="http://lab.thenew.fr/2017/04/" target="_blank" rel="noopener noreferrer">
    lab.thenew.fr/2017/04
  </a>
</div>
<div>Personal project</div>
