<div>
  <a href="http://dubeauj.eu/e32016/" target="_blank" rel="noopener noreferrer">
    dubeauj.eu/e32016
  </a>
</div>
<div>
  <a href="https://codepen.io/thenew/pen/WxrNZp" target="_blank" rel="noopener noreferrer">
    codepen prototype
  </a>
</div>
<div>Personal project</div>
